Django==5.1.2
djangorestframework==3.15.2
python-dotenv==1.0.1
nats-py==2.9.0
weasyprint==63.0
djangorestframework-simplejwt==5.3.1
requests==2.32.3
psycopg2-binary==2.9.10

django-debug-toolbar==4.4.6
pylint==3.3.1